.navbar{
  background: #1d88b3;
}

.navbar-brand{
  font-weight: 700;
  letter-spacing: .1rem;
}

.btn{
  border-radius: 2rem;
  background: #ffffff;
  color: #ee3535;
  border-style: none;

}

.btn:hover{
  background: #ff044f;
  border-style: none;
  color: #ffffff;
}